<div class="video-wrapper">
  <%= video_tag "type.mp4", muted: true, autoplay: :autoplay, loop: true, playsinline: true, preload: :auto, class: "banner_video", id: 'vid' %>
  <div class="backdrop">
  <div class="type-holder">
  	<h1 class="jumbo-text">
      The best way to tell the future...<br/>is to create it.
    </h1>
  </div>
  </div>
</div>


<div id="about-me" tabindex="0">
  <div class="break"></div>
  <div class="container col-xl-8 col-lg-10">
    <h1 class="big-text">Hello! I am Michael Villarreal, and I am a Full-Stack, Ruby on Rails Developer...</h1>
    <div class="little-break"></div>
    <div class="case">
    <div class="intro-message">
      
      <h4 class="intro-item">I can help you bring your <span id="product-text"></span><br/>to life on the web! I specialize in progressive web apps, and UX/UI design. I love to work on projects that are forward thinking, and focus on providing a true value to the world.</h4>
    </div>
    </div>
    <div class="little-break"></div>

    <div>
      <h3> Currently Located In <i class="fas fa-map-marked-alt"></i></h3>
      <div class="little-break"></div>
      <div class="case">
        <div class="map-holder">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
<div class="little-break"></div>
</div>

<div id="work" tabindex="0">
  <div class="break"></div>
  <div class="container col-xl-7 col-lg-10">
    <h3>Proficiencies <i class="fa fa-code"></i></h3>
    <ul class="case">
      <div class="list-wrap">
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">HTML5</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">CSS3</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">JavaScript(ES6)</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">Ruby</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">Ruby on Rails</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">SQL</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">SQLite3</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">PostgreSQL</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">JSON</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">Active Record</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">Bootstrap</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">AJAX</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">JQuery</li>
        <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">API's</li>
      </div>
    </ul>
    <div class="little-break"></div>

    <h3>Portfolio <i class="fas fa-folder-open"></i></i></h3>
    <%= render 'shared/portfolio-cards' %>
  </div>
  <div class="break"></div>
</div>

<div id="contact" tabindex="0">
  <div class="break"></div>
  <div class="container col-xl-7 col-lg-10">
    <h3>Let's Work Together <i class="far fa-handshake"></i></h3>
    <div class="extra-little-break"></div>
    <div class="holder form">
      <%= simple_form_for @inquiry do |f| %>
        <h4><%= f.input :name, required: true, placeholder: 'John Doe', class: "form-control is-invalid" %></h4>
        <div id="name-error"></div>
        <div class="little-break"></div>
        <h4><%= f.input :email, required: true, placeholder: 'your.email@example.com' %></h4>
        <div id="email-error"></div>
        <div class="little-break"></div>
        <h4><%= f.input :phone_number, placeholder: '816-555-5555' %></h4>
        <div class="little-break"></div>
        <h4><%= f.input :message, placeholder: 'Talk about any project that you have, or just say hi!' %></h4>
        <div class="little-break"></div>
        <%= f.button :submit, "Submit Inquiry", class: "btn-flat", id: 'submit-inquiry' %>
      <% end %>
    </div>

    <div class="break"></div>

    <!-- <div class="footer"> -->
      <ul class="social-icons">
        <h1><li><a href="https://github.com/mvillarreal0605" class="social-icon" target="_blank"><i class="fab fa-github"></i></a></li></h1>
        <h1><li><a href="https://www.linkedin.com/in/michael-villarreal-8ab742110/" class="social-icon" target="_blank"><i class="fab fa-linkedin"></i></a></li></h1>
        <h1><li><a href="https://www.instagram.com/_mvill_/" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a></li></h1>
      </ul>
    <!-- </div> -->
  </div>
</div>